body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding-bottom: 100px;
}

main {
    padding: 0 20px;
}

.hidden {
    display: none !important;
}

/*NAV STYLES*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wide-nav {
    display: none;
}

.logo {
    display: block;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
}

.hamburger {
    margin-right: 20px;
    padding: 5px;
    z-index: 2;
}

.hamburger div {
    width: 40px;
    height: 5px;
    margin: 6px 0;
}

.inactive {
    background-color: black;
}

.active {
    background-color: #4169e1;
}

/*SIDEBAR NAV STYLES*/
.side-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: -5px 0 80px rgb(59, 59, 59);
}

.button-close {
    display: inline-block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px;
    font-size: 60px;
    padding: 20px;
    z-index: 3;
    color: black;
    width: 40px;
    height: 40px;
}

.button-close:hover {
    color: #4169e1;
}

.sidebar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    display: block;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

.sidebar-nav ul li {
    padding: 8px;
    font-size: 15px;
}

.sidebar-nav a {
    text-decoration: none;
    padding: 20px 10px;
    color: rgb(47, 47, 47);
}

.sidebar-nav a:hover {
    color: #4169e1;
}

#about-button,
#alum-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
}

#about-button,
#alum-button:hover {
    cursor: pointer;
}

/*HEADER STYLES*/
.hero-home {
    background: url(../images/home/apo-home.png);
   /* Source: APO Website: http://www.apogamma.org/ */
}

.hero-eboard {
    background: url(../images/eboard/eboard-hero.png);
    /* Source: APO Website: http://www.apogamma.org/ */
}

.hero-families {
    background: url(../images/families/families-hero.png);
    /* Source: APO Website: http://www.apogamma.org/ */
}

.hero-recruitment {
    background: url(../images/recruitment.jpg);
    /* Source: APO Website: http://www.apogamma.org/ */
}

.hero-philanthropy {
    background: url(../images/philanthropy/philanthropy.png)
    /* Source: APO Website: http://www.apogamma.org/ */
}

.hero-gallery {
    background: url(../images/gallery/gallery-hero.png)
    /* Source: APO Website: http://www.apogamma.org/ */
}

.hero-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.hero-button {
    border: solid;
    border-color: white;
    color: white;
    padding: 5% 10%;
    text-decoration: none;
    font-size: 1.25em;
    margin: 20px 2px;
}

.hero-button:hover {
    background-color: #d8b908;
    border-color: #d8b908;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    z-index: 1;
}

/*MAIN STYLES*/
img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.button {
    display: inline-block;
    border: solid;
    background-color: #163286;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    text-align: center;
}

.curved {
    border-radius: 60px;
}

.button:hover {
    background-color: #5d6d9d;
    color: white;
}

blockquote {
    margin: 20px 10px;
}

.card {
    display: inline-block;
    border: 1.5px solid #4169e1;
    border-radius: 0.2EM;
    text-align: center;
    padding: 0;
    margin: 20px;
}

.card img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}

.card h3 {
    padding-top: 10px;
    padding-bottom: 8px;
    margin: 0;
}

.card h4 {
    padding: 0;
    margin: 10px 0;
    text-transform: uppercase;
}

.linebreak-f {
    margin-bottom: 0 !important;
}

.centered {
    text-align: center;
}

.email img {
    height: 30px;
    width: 30px;
    display: block;
    padding-top: 0;
    padding-bottom: 18px;
}

h1 {
    margin-top: 40px;
}

.red {
    color: rgb(156, 0, 0);
}

.quote-box {
    border-top: solid;
    border-bottom: solid;
    border-color: #d8b908;
    font-style: italic;
    font-size: large;
}

.wide-two-column {
    display: flex;
    flex-direction: column;
}

.text-column {
    order: 1;
}

.image-column {
    order: 2;
    margin-top: 40px;
}

.section {
    margin-top: 40px;
}

.callout {
    border: solid;
    border-color: #d8b908;
    margin: 40px auto;
    padding: 40px 20px;
    font-size: larger;
}

.rush-day {
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.event-date {
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    width: 150px;
}

.event-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-times {
    flex-grow: 1;
}

.event-times p {
    font-size: larger;
    color: #163286;
}

.event-names {
    text-align: left;
    margin-left: 40px;
    margin-top: 0px;
    flex-grow: 2;
}

figure {
    margin: auto;
}

figcaption {
    text-align: left;
}

.past-event {
    width: 100%;
    margin-bottom: 20px;
}

.famlogo {
    display: block;
    margin: 0 auto;
}

.insbutton {
    text-align: center;
    margin-bottom: 15px;
}

.insbutton a {
    text-decoration: none;
    padding: 15px 23px;
    color: white;
    border-radius: 0.3em;
}

.insbutton:hover {
    cursor: pointer;
}

#marvels-button {
    background-color: #f30000;
}

#fam-ava, #fam-simran {
    border: 3px solid #f30000;
}

#legends-button {
    background-color: #ff5c00;
}

#fam-celia, #fam-summer {
    border: 3px solid #ff5c00;
}

#supers-button {
    background-color: #ffb800;
}

#fam-yasmin, #fam-sarah {
    border: 3px solid #ffb800;
}

#incredibles-button {
    background-color: #ffe500;
}

#fam-drishti, #fam-bella {
    border: 3px solid #ffe500;
}

#guardians-button {
    background-color: #6bbd2b;
}

#fam-tara, #fam-charu {
    border: 3px solid #6bbd2b;
}

#royals-button {
    background-color: #19b8ae;
}

#fam-noah, #fam-cristie {
    border: 3px solid #19b8ae;
}

#jenkins-button {
    background-color: #654bce;
}

#fam-jennifer, #fam-adele {
    border: 3px solid #654bce;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.gallery .gallery-column {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.gallery .gallery-column img {
    width: 100%;
    padding-bottom: 5px;
}

.pillars {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

.pillars h2 {
    text-align: center;
}

.pillars img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 250px;
    margin: 1em auto;
}

.abox {
    margin: auto;
    padding-bottom: 20px;
    font-size: large;
}

.abox img {
    max-width: 250px;
    max-height: 250px;
}

.home-box {
    border-top: solid;
    border-color: #2214a8;
    margin-top: 40px;
    padding-top: 25px;
}


.home-button {
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px;
    font-size: x-large;
    margin: 30px
}

.home-button:hover {
    background-color: rgb(70, 27, 211);
}

.home-background {
    background: rgb(0, 98, 255);
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}

.partners {
    display: flex;
    flex-direction: row;
    margin: auto;
}


.section-partners-wide {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
}

.section-partners-narrow {
    padding: 10px;
}



@media (min-width:1000px) {
    .partners {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .section-partners-wide {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 5em;
    }
}

@media (min-width:800px) {
    body {
        font-size: larger;
    }

    main {
        padding: 0 40px;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: large;
        height: 150px;
    }

    .logo {
        display: block;
        max-width: 200px;
        /* padding-top: 20px;
        padding-bottom:20px; */
        margin-top: 0;
    }

    .hamburger {
        display: none;
    }

    .side-bar {
        display: none;
    }

    .wide-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    .nav-item {
        margin: auto 30px;
        padding: 0px 10px;
    }

    .nav-item p {
        margin: 0;
        padding: 20px 10px;
    }

    .nav-item p:hover {
        background-color: rgb(231, 231, 231);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        z-index: 2;
        background-color: white;
        box-shadow: 0px 8px 16px 0px #adadad;
        padding: 10px 10px;
        min-width: 160px;
        max-width: 400px;
    }

    .dropdown-content a {
        margin: 10px auto;
    }

    .wide-nav a {
        display: inline-block;
        text-decoration: none;
        color: black;
    }

    .wide-nav a:hover {
        color: #4169e1;
    }

    .hero-content h1 {
        font-size: 3em;
        flex-grow: 2;
    }

    .hero-button {
        font-size: larger;
        flex-grow: 1;
        margin: 20px 40px;
        width: 50%;
    }

    /*MAIN STYLES*/
    .wide-two-column {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .text-column {
        order: 1;
        flex-grow: 0.5;
    }

    .image-column {
        order: 2;
        margin-left: 40px;
        flex-grow: 2;
        width: 100%;
    }

    .quote-box {
        padding: 20px 0;
        font-size: x-large;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .buttons-group {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .equal-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .column1 {
        flex-grow: 1;
        max-width: 50%;
        margin-right: 40px;
    }

    .column2 {
        margin-left: 0px;
    }

    .rush-day {
        flex-direction: row;
    }

    .event-details {
        margin-left: 80px;
    }

    .card {
        cursor: pointer;
    }

    .container {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        inset: 0;
        z-index: 8;
    }

    @media (min-width:600px) {

        .eb-modal,
        .fam-modal {
            z-index: 10;
            padding: 15px;
            max-width: 700px;
            max-height: 500px;
            margin: 0 auto;
            position: fixed;
            left: 0;
            right: 0;
            top: 30%;
            padding: 15px;
            background-color: white;
            border-radius: 0.3em;
            display: flex;
            flex-direction: row;
        }

        .alum-modal {
            z-index: 10;
            padding: 15px;
            max-width: 700px;
            max-height: 700px;
            margin: 0 auto;
            position: fixed;
            left: 0;
            right: 0;
            top: 5%;
            padding: 15px;
            background-color: white;
            border-radius: 0.3em;
            display: flex;
            flex-direction: row;
        }

        .eb-info,
        .alum-info {
            text-align: left;
            flex-grow: 2;
            margin-left: 10px;
            flex-wrap: wrap;
        }


        .alum-info {
            overflow: scroll;
            padding: 20px;
            margin: 30px;
        }

        .eb-modal img,
        .fam-modal img,
        .alum-modal img{
            width: 220px;
            height: 220px;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            margin: 5% auto;
        }

        /* .alum-modal img {
            width: 200px;
            height: 200px;
            flex-grow: 1;
            margin-right: 20px;
        } */

        .eb-info,
        .fam-info,
        .alum-info {
            text-align: left;
            flex-grow: 2;
            margin-left: 25px;
        }


        .modal {
            position: absolute;
            top: 10px;
            right: 30px;
            font-size: 35px;
            z-index: 4;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
        }

        .pillars {
            display: flex;
            flex-direction: row;
            text-align: center;
            padding: 1em;

        }

        .pillars h2 {
            text-align: center;
        }

        .pillars img {
            display: block;
            width: 100%;
            height: 100%;
            max-width: 300px;
            margin: 1em auto;
        }

        .pbox {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 30px;

        }

        .pbox img {
            max-width: 200px;
        }

        .abox {
            margin: auto;
            padding-bottom: 10px;
        }

        .home-box {
            margin: 40px;
            padding: 40px;
        }

        .div3 {
            text-align: center;
            align-items: center;
            margin: 80px;
        }

    }
}
